button {
    background-color: #2B3BCF;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
 }

 /* "a" tag with class routing */

 a.routing:link, a.routing:visited { 
    background-color: #848686; 
    color: white; 
    padding: 10px 25px;
    margin:30px 30px ; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
 } 
 a.routing:hover, a.routing:active {
    background-color: #BD9696;
 }

 input[type = text], input[type = password] { 
   width: 80%; 
   padding: 12px 20px; 
   margin: 8px 0; 
   display: inline-block; 
   border: 1px solid #B3A9A9; 
   box-sizing: border-box; 
} 
input[type = submit] { 
   padding: 12px 20px; 
   margin: 8px 0; 
   display: inline-block; 
   border: 1px solid #B3A9A9; 
   box-sizing: border-box; 
}

table {
   width: 100%;
}
cdk-virtual-scroll-viewport {
   height: 500px;
   width: 100%;
}